*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#fde2b681;
    font-family: Rowdies;
    font-size: 25px;
    font-weight: 100;
}
hr{
    border:none;
    width:50%;
    height: 5px;
    margin: 60px auto;
    opacity: 0.75;
    background-color: #a37e69;
}
h1{
    color: #fde2b6;
    font-size: 65px;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 40px;
}

/* NAVIGATION */
.nav{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    background-color: #B67352;
    font-size: 15px;
    position: fixed;
    top: 0;
    z-index: 100;
}
.nav-right,.nav-left{
    display: flex;
    padding: 10px;
    /* margin: 10px 10px; */
}
.nav-right{
    justify-content: space-around;
}
.nav-left{
    justify-content: center;
}
.nav a{
    color: #8CB9BD;
    text-decoration: none;
}
.nav a:active{
    color: #fa5d0e;
}
/* PROFILE */
.profile{
    margin-top: 39px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 60vh;
    padding: 50px;
    gap: 50px;
    /* margin: 45px 0 45px 0; */
    background-image: url(./Images/profile-back3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    }
.profile-img img{
    width: auto;
    height: 100%;
    border-radius: 30px;
    box-shadow: 15px 15px 20px #70452f;
}
.profile-img{
    padding: 50px;
    text-align: center;
}
.info p {
    margin:20px 0 ;
    color: #f5f5f8;

}


.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: ;
}



