body{
    background-color:rgb(210, 247, 219);
}
hr{
    border-style:dotted none none;
    border-color:rgb(170, 165, 165);
    border-width: 15px;
    width:10%;
}
h1{
    color: #66BFBF;
}
h3{
    color:#569494;
}